#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.verse-form {
  position: relative;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20% 20%;
}

.input-field {
  height: 3em;
  background-color: rgb(187, 134, 236);
  color: rgb(165, 20, 165);
  margin-right: 1em;
  border-radius: 6%;
}

.input-button {
  height: 3em;
  background-color: rgb(187, 134, 236);
  color: rgb(165, 20, 165);
  border-radius: 6%;
}

.title {
  color: greenyellow;
  font-family: Copperplate, sans-serif;
  text-align: center;
  font-size: 4em;
  text-shadow: 3px 2px rgb(91, 133, 27);
  width: 100%;
  padding: 0 9%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.nav {
  width: 100%;
  text-align: center;
  background-color: hotpink;
  font-family: Copperplate, sans-serif;
  font-size: 1.5em;
  z-index: 2;
}

.nav-item {
  display: inline-block;
  text-decoration: none;
  padding: .2em 1em;
  z-index: 2;
}

.verse-list {
  color: white;
  position: relative;
  font-size: 1em;
  font-family: Copperplate, sans-serif;
}

.single-verse {
  color: rgba(169, 205, 236, 1);
  text-shadow: 3px 2px rgb(36, 80, 119);
  font-size: 2.2em;
  text-align: center;
  font-family: Copperplate, sans-serif;
  z-index: 2;
}

.single-verse-a {
  color: rgba(169, 205, 236, 1);
  text-shadow: 3px 2px rgb(36, 80, 119);
  font-size: 2em;
  text-align: center;
  font-family: Copperplate, sans-serif;
  z-index: 2;
  margin-top: 0.2em;
  margin-bottom: 20%;
}

.id-verse {
  color: rgba(169, 205, 236, 0);
  position: relative;
  justify-content: center;
  font-size: 2.5em;
  font-family: Copperplate, sans-serif;
  animation-duration: 8s;
  animation-name: id-anim;
  animation-delay: 1s;
  /* animation-timing-function: linear; */
}

@keyframes id-anim {
  0% { font-size: 2.5em; color: rgba(169, 205, 236, 1); }
  25% { font-size: 1.8em; color: rgba(169, 205, 236, 0.8); }
  50% { font-size:  1.2em; color: rgba(169, 205, 236, 0.6); }
  75% { font-size: .6em; color: rgba(169, 205, 236, 0.4); }
  100% { font-size: 0em }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.about {
  font-size: 1.2em;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 2;
}

.page-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.page-head-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.p-background {
  width: 80%;
  text-align: center;
  background-color: indigo;
  opacity: 0.8;
  border: solid 3px rgb(216, 87, 236);
  border-radius: 3%;
}

@media (min-width: 675px) {
  .title {
    font-size: 6em;
  }
  .single-verse {
    font-size: 4em;
  }
  .single-verse-a {
    font-size: 3em;
    margin-bottom: 10%;
  }
  .about {
    font-size: 1.5em;
    width: 85%;
  }
}